*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

h2{
  letter-spacing: 2px;
  padding-bottom: 3%;
  font-size: 35px;
  color: rgb(100, 51, 145);
  font-size: 45px;
}

p{
  margin-bottom: 8%;
}

a{
  text-decoration: none;
  color: rgb(100, 51, 145);
  font-weight: 800;
  letter-spacing: 1px;
}

.textColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(106, 106, 106);
  padding-left: 10%;
}

button {
  font-size: 15px;
  letter-spacing: 1px;
  padding: 2% 2%;
  border: 0px;
  color: white;
  border-radius: 4px;
}

/* ---------------------Header---------------------- */

.header {
  height: 100vh;
  background-color: black;
  background-image: url(front-end-dev-test-assets/hero.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header button{
  padding: 1% 2%;
}

#welcome{
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;
}

.headerMenu{
  display: flex;
  justify-content: space-between;
}

#sideMenu{
  display: block;
  padding: 40px 0px 40px 40px;
} 

#sideMenu a{
  margin: 10px;
} 

a{
  align-items: center;
  font-size: 20px;
}

.logo{
  width: 23%;
  padding: 30px;
}

span {
  font: 800 40px Arial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px white;
  font-size: 80px;
  letter-spacing: 0px;
}

h1{
  display: block;
  font-size: 70px;
  color: white;
  text-align: center;
  letter-spacing: 7px;
}

.headerButton{
  background-color: rgb(148, 83, 183);
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px;
}

/* ----------------Second Row --------------------- */

.secondRow{
  height: 75vh; 
  display: flex;
}

.textColumn{
  width: 50vw; 
}

.textContainer{
  width: 60%;
}

.photoColumn {
  width: 50vw;
  background: url(front-end-dev-test-assets/img-1.jpg) no-repeat center center; 
  background-size: cover; 
  
}


/* --------------------- Third Column ------------------------ */

.thirdRow{
  width: 100vw;
  height: 75vh; 
  background: url(front-end-dev-test-assets/banner-1.jpg) no-repeat center center; 
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thirdRow .textContainer{
  margin-left: 10%;

}

.thirdRow button {
  background-color: rgb(255, 140, 0);
  width: 200px;
}

/* ----------------- Fourth Row --------------------- */
.fourthRow{
  display: flex;
  height: 75vh;
}

.gridContainer{
  width: 50vw;
}
.iconGrid {
  /* go back and double check */
  padding: 120px 150px 150px 150px; 
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 150px;
}

.iconContainer{
  border: solid rgb(148, 83, 183) 2px;
  border-radius: 50%;
}

.iconContainer img{
  padding: 20px;
}

.iconContainer .smallerIcons{
  padding: 10px;
}

.fourthRow h2{
  color: black;
}
.fourthRow .textContainer{
  width: 90%;
}




