*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 16px;
}
html{
  scroll-behavior: smooth;
  font-size: clamp(8px, 1.5vw, 16px);
}

h2{
  letter-spacing: 2px;
  padding-bottom: 3%;
  color: rgb(100, 51, 145);
  font-size: 2.5rem;
}


p{
  margin-bottom: 8%;

}

a{
  text-decoration: none;
  color: rgb(100, 51, 145);
  font-weight: 800;
  letter-spacing: 1px;
}
a:hover{
  color: rgb(148, 83, 183);
}

.section__text-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(106, 106, 106);
}

.section__text-container{
  position: relative;
  left: 25%;
}

button {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 2% 2%;
  border: 0px;
  color: white;
  border-radius: 4px;
  background-color: rgb(255, 140, 0);
}
button:hover{
  background-color: rgb(222, 123, 2);
  cursor: pointer;
  transform: scale(0.95);

}

.section{
  width: 100vw;
  height: 75vh; 
}

/* ---------------------Header---------------------- */

.header {
  height: 100vh;
  background-color: black;
  background-image: url(front-end-dev-test-assets/hero.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header button{
  padding: 1% 2%;
}

#header__welcome{
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out; /* Transition for both opacity and transform */
  transform: translateY(0rem); 


}


.header__menu {
  display: flex;
  justify-content: space-between;
}

#header__menu-list {
  display: block;
  padding: 40px 0px 40px 40px;
  position: relative; 
}

#header__menu-list a {
  margin: 10px;
  position: relative; 
  color: rgb(100, 51, 145);
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

#header__menu-list a::after {
  content: '';
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: width 0.5s ease; 
}

#header__menu-list a:hover::after {
  width: 100%; 
}

a{
  align-items: center;
  font-size: 1.5rem;
}

.logo{
  width: 23%;
  padding: 2%;
}

#header__welcome span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px white;
  font-size: 6rem;
  letter-spacing: 0px;
}

h1{
  display: block;
  font-size: 5rem;
  color: white;
  text-align: center;
  letter-spacing: 7px;
}

.button--primary{
  background-color: rgb(148, 83, 183);
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px;
}
.button--primary:hover{
  background-color: rgb(100, 51, 145);;
}

/* ----------------Second Row --------------------- */

#secondRow{
  display: flex;
}

.section__text-column{
  width: 50vw; 
}

.section__text-container{
  width: 60%;
}


.section__photo-column {
  width: 50vw;
  background: url(front-end-dev-test-assets/img-1.jpg) no-repeat center center; 
  background-size: cover; 
  
}


/* --------------------- Third Column ------------------------ */

#thirdRow{
  background: url(front-end-dev-test-assets/banner-1.jpg) no-repeat center center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#thirdRow .section__text-container{
  position: relative;;
  left: 13%;
  width: 35%;
}

#thirdRow button {
  width: 40%;  
}



/* ----------------- Fourth Row --------------------- */
#fourthRow{
  display: flex;
}

.section__grid-container{
  width: 50vw;
}
.grid {
  width: 60%;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 3rem;
  column-gap: 50%;
  position: relative;
  left: 15%;
  top: 15%;
}
.gridCell h3{
  text-align: center;
  padding: 15px;
}

.gridCell:hover h3, 
.gridCell:hover .iconContainer{
  transform: scale(1.1); 
  transition: transform 0.3s ease;
}

.iconContainer{
  border: solid rgb(148, 83, 183) 2px;
  border-radius: 50%;
}

.iconContainer img{
  padding: 1rem;
}

.iconContainer .smallerIcons{
  padding: 10px;
}

#fourthRow h2{
  color: black;
}
#fourthRow .section__text-container{
  width: 60%;
}

/* ------------------- Fifth Row -------------------  */

#fifthRow{
  background: url(front-end-dev-test-assets/banner-2.jpg) no-repeat center center; 

}

#fifthRow .section{
  display: flex;
  justify-content: flex-end;

}
#fifthRow .section__text-container{
  left:60%;
  width: 30%;
  top: 30%;
}

.callButton{
  padding: 3% 5%;
}


/* ------------------- Sixth Row -------------------  */

.fiveStars{
  width: 40%;
}

#sixthRow h2{
  color: black;
}

.section__main{
  display: flex;
  width: 100%;
  flex: 6;
}

#sixthRow{
  display: flex;
  flex-direction: column;
}
#sixthRow .section__text-container{
  width: 70%;
} 

.review .reviewsButtons{
  background-color: transparent;
  width: 5%; 
  padding: 0;
  z-index: 1;
}

.review__buttons{
  display: flex;
  gap: 89%;
  position: relative;
  top: 40%;
} 

.slideButtons{
  width: 65%;
  height: 65%;
}

.review{
  width: 50%;
}

.review__slide{
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0% 10%;
  height: 100%;
  overflow-y: scroll;
  height: 200px;

}

.review__slide h3{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: rgb(100, 51, 145);
}

.review__slide p{
  width: 100%;
  font-size: small;
  overflow: scroll;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.review__slide span{
  color: rgb(177, 177, 177);
  float: right;
  font-size: small;

}

.review__container{
  position: relative;
  height: 70%;
  width: 70%;
  top: 20%;
  overflow-x: hidden;
}

.review__track{
  padding:0;
  margin: 0;
  list-style: none;
  height: 70%;
}

.slideNav{
  padding: 5px;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 200px;
  gap: 5px;
}

button.slideIndicator{
  width: 1px;
  background-color: rgb(252, 221, 184);
}

.slideIndicator.current__slide{
  background-color: rgb(255, 140, 0);
}

.is-hidden {display: none;}

/* ---------------- Footer ------------------ */

.footer__icons a{
  width: 3%;
  height: auto;
}
.footer__icons{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__caption{
  display: block;
  margin: 0px auto 15px auto;
}

/* ------------------------------ CSS for mobile ------------------------ */

@media only screen and (max-width:650px)
{
  
  html, body {
    overflow-x: hidden;
    width: 100%;
  }
  
  * {
    max-width: 100%;
  }

  h2{
    width: 50vw;
    font-size: 2rem;
  }

  p {
    font-size: 1rem; 
    margin-bottom: 4%;
  }

  /* -------------- Header -------------- */
 #header__menu-list {
    display:none;
  }

  #header__welcome span{
    font-size: 4rem;
    -webkit-text-stroke: 1px white;
  }

  #header__welcome h1{
    font-size: 3rem;
  }

  .button--primary{
    width: 60px;
    height: 30px;
    font-size: 1.5rem;
  }

  .logo {
    padding-top: 5%; 
    width: 125px;
  }

  #secondRow .section__photo-column{
    background-position: 50%;
  }

  /* -------------- Third Row -------------- */


  #thirdRow{
    background-position: 60%;
  }
  #thirdRow .section__text-container{
    width: 300px;
  }


  /* -------------- Fifth Row -------------- */

  #fifthRow{
    background-position: 15%;
  }
        /* --------- Grid --------- */
        
  .section__grid-container{
    display: block;
    width: 30vw;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: fit-content;
    gap: 30px;
  }

  .gridCell{
    height: 60px;
    width: 60px;
  }

  .gridCell h3{
    font-size: 1rem;
    padding: 5px;
  }

  #fifthRow .section__text-container{
    left: 15%;
    width: 30%;
    top: 30%;
  }

  /* ------------ Sixth Row ------------- */

  .section__main{
    flex-direction: column;
  }

  
  #sixthRow .section__text-column{
    width: 100vw;
    padding-top: 10%;
  }

  #sixthRow .section__text-column h2{
    font-size: 2.5rem;
  }

  #sixthRow .section__text-container{
    left: 20%;
  }

      /* ---------- Review Section ----------- */

  .review{
    width: 100vw;
    align-content: center;
  }
  .review__container{
    height: 300px;
    width: 90%;
    justify-self: center;
  }

  .review__slide{
    height: 200px;
  }

  .review__slide p{
    font-size: 10px;
  
  }

  .slideNav{
    display: none;
  }

  .footer__icons a {
    width: 25px;
  }
}
@media only screen and (max-height: 570px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 2rem;
    justify-content: center;
    
  }

  .gridCell {
      height: 60px;
      width: 60px;
  }

  .gridCell h3{
    text-align: center;
    font-size: 10px;
    padding: 0;
  }
}