*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 16px;
}
html{
  scroll-behavior: smooth;
  font-size: clamp(8px, 1.5vw, 16px);
}

h2{
  letter-spacing: 2px;
  padding-bottom: 3%;
  color: rgb(100, 51, 145);
  font-size: 2.5rem;
}


p{
  margin-bottom: 8%;

}

a{
  text-decoration: none;
  color: rgb(100, 51, 145);
  font-weight: 800;
  letter-spacing: 1px;
}
a:hover{
  color: rgb(148, 83, 183);
}

.textColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(106, 106, 106);
}

.textContainer{
  position: relative;
  left: 25%;
  overflow-y: scroll;
}

button {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 2% 2%;
  border: 0px;
  color: white;
  border-radius: 4px;
  background-color: rgb(255, 140, 0);
}
button:hover{
  background-color: rgb(222, 123, 2);
  cursor: pointer;
}

.mainDiv{
  width: 100vw;
  height: 75vh; 
}

/* ---------------------Header---------------------- */

.header {
  height: 100vh;
  background-color: black;
  background-image: url(front-end-dev-test-assets/hero.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header button{
  padding: 1% 2%;
}

#welcome{
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  transform: translateY(-2rem);
}

.headerMenu{
  display: flex;
  justify-content: space-between;
}

#sideMenu{
  display: block;
  padding: 40px 0px 40px 40px;
} 

#sideMenu a{
  margin: 10px;
} 

a{
  align-items: center;
  font-size: 1.5rem;
}

.logo{
  width: 23%;
  padding: 2%;
}

#welcome span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px white;
  font-size: 6rem;
  letter-spacing: 0px;
}

h1{
  display: block;
  font-size: 5rem;
  color: white;
  text-align: center;
  letter-spacing: 7px;
}

.headerButton{
  background-color: rgb(148, 83, 183);
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px;
}
.headerButton:hover{
  background-color: rgb(100, 51, 145);;
}

/* ----------------Second Row --------------------- */

#secondRow{
  display: flex;
}

.textColumn{
  width: 50vw; 
}

.textContainer{
  width: 60%;
}


.photoColumn {
  width: 50vw;
  background: url(front-end-dev-test-assets/img-1.jpg) no-repeat center center; 
  background-size: cover; 
  
}


/* --------------------- Third Column ------------------------ */

#thirdRow{
  background: url(front-end-dev-test-assets/banner-1.jpg) no-repeat center center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#thirdRow .textContainer{
  position: relative;;
  left: 13%;
  width: 35%;
}

#thirdRow button {
  width: 40%;  
}



/* ----------------- Fourth Row --------------------- */
#fourthRow{
  display: flex;
}

.gridContainer{
  width: 50vw;
}
.iconGrid {
  width: 60%;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 3rem;
  column-gap: 50%;
  position: relative;
  left: 15%;
  top: 15%;
}
.gridCell h3{
  text-align: center;
  padding: 15px;
}

.gridCell:hover h3, 
.gridCell:hover .iconContainer{
  transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.iconContainer{
  border: solid rgb(148, 83, 183) 2px;
  border-radius: 50%;
}

.iconContainer img{
  padding: 1rem;
}

.iconContainer .smallerIcons{
  padding: 10px;
}

#fourthRow h2{
  color: black;
}
#fourthRow .textContainer{
  width: 60%;
}

/* ------------------- Fifth Row -------------------  */

#fifthRow{
  background: url(front-end-dev-test-assets/banner-2.jpg) no-repeat center center; 

}

#fifthRow .mainDiv{
  display: flex;
  justify-content: flex-end;

}
#fifthRow .textContainer{
  left:60%;
  width: 30%;
  top: 30%;
}

#fifthRow button{
  padding: 3% 5%;
}

/* ------------------- Sixth Row -------------------  */

.fiveStars{
  width: 40%;
}

#sixthRow h2{
  color: black;
}

#sixthRow .main{
  display: flex;
  width: 100%;
  flex: 6;
}

#sixthRow{
  display: flex;
  flex-direction: column;
}
#sixthRow .textContainer{
  width: 70%;
} 

.reviewColumn .reviewsButtons{
  background-color: transparent;
  width: 5%; 
  padding: 0;
  z-index: 1;
}

.buttonContainer{
  display: flex;
  gap: 89%;
  position: relative;
  top: 40%;
} 

.slideButtons{
  width: 65%;
  height: 65%;
}

.reviewColumn{
  width: 50%;
}

.reviewSlide{
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0% 10%;
  height: 100%;
  overflow-y: scroll;
  height: 200px;

}

.reviewSlide h3{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: rgb(100, 51, 145);
}

.reviewSlide p{
  width: 100%;
  font-size: small;
  overflow: scroll;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.reviewSlide span{
  color: rgb(177, 177, 177);
  float: right;
  font-size: small;

}

.reviewContainer{
  /* background: lightblue; */
  position: relative;
  height: 70%;
  width: 70%;
  top: 20%;
  overflow-x: hidden;
}

.reviewTrack{
  padding:0;
  margin: 0;
  list-style: none;
  height: 70%;
}

.slideNav{
  padding: 5px;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 200px;
  gap: 5px;
}

button.slideIndicator{
  width: 1px;
  background-color: rgb(252, 221, 184);
}

.slideIndicator.currentSlide{
  background-color: rgb(255, 140, 0);
}

.is-hidden {display: none;}

/* ---------------- Footer ------------------ */

.footer a{
  width: 3%;
  height: auto;
}
.footer{
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footerCaption{
  display: block;
  margin: 0px auto 15px auto;
}

/* ------------------------------ CSS for mobile ------------------------ */

@media only screen and (max-width:650px){
  
 #sideMenu {
    display: none;
  }

  #welcome span{
    font-size: 2.5rem;
    -webkit-text-stroke: 1px white;
  }

  #welcome h1{
    font-size: 2rem;
  }

  .logo {
    padding-top: 5%; 
  }

  #thirdRow{
    background-position: 60%;
  }

  #fifthRow{
    background-position: 15%;

  }

  .gridContainer{
    display: block;
  }
  .iconGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: fit-content;
  }

  .gridCell{
    height: 60px;
    width: 60px;
  }

  .gridCell h3{
    font-size: 1rem;
    padding: 5px;
  }


  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem; 
    margin-bottom: 4%;
  }

  .main{
    flex-direction: column;
  }

  #fifthRow .textContainer{
    left: 15%;
    width: 30%;
    top: 30%;
  }
  
  #sixthRow .textColumn{
    width: 100vw;
    padding-top: 10%;
  }

  #sixthRow .textColumn h2{
    font-size: 2.5rem;
  }

  #sixthRow .textContainer{
    left: 20%;
  }

  .reviewColumn{
    width: 100vw;
    align-content: center;
  }
  .reviewContainer{
    height: 300px;
    width: 90%;
    justify-self: center;
  }

  .reviewSlide{
    height: 200px;
  }

  .reviewSlide p{
    font-size: 10px;
  
  }

  .slideNav{
    display: none;
  }

  .footer a{
    width: 30px;
  }

}
@media only screen and (max-height: 570px) {
  .iconGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1rem;
    justify-content: center;
  }

  .gridCell {
    height: auto;
    width: auto;
  }
}